.header {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid #e8ecef;
    
    position: sticky;
    top: 0px;
    background-color: #fcfbff;

    .navbar {
        height: 19px;
        min-width: 162px;
        display: flex;
        justify-content: flex-start;
        gap: 34px;

        .custom-burger {
            width: 20.5px;
            height: 19px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:hover {
                cursor: pointer;

                div {
                    background-color: #2ab46c;
                }
            }

            div {
                height: 3px;
                background-color: gray;

            }
        }


        p {
            color: #778ca2;
            font-size: 24px;
            text-transform: capitalize;
            letter-spacing: 2px;
            transform: translateY(-3px);
        }


    }
}